$yellow: #ffff00;
$yellow-light: #f8f184;
$blue: #19587d;
$red: #b11313;
$black: #0d0e09;
$white-light: #c4c4c481;
$black: #000000;
$white: #ffffff;
$gradient-white: #eddebf;
$gradient-red: #89000952;
$grey: #ffffffa6;