@font-face{
   font-family: "Rajdhani";
    scr: url(../Police/Rajdhani/Rajdhani-Bold.ttf);
    src: url(../Police/Rajdhani/Rajdhani-Medium.ttf);
    src: url(../Police/Rajdhani/Rajdhani-Regular.ttf);
    src: url(../Police/Rajdhani/Rajdhani-SemiBold.ttf);
 }
 
@font-face{
    font-family: "Space Grotesk";
    src: url(../Police/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
 }

