@import '../base/color';
@import '../base/typo';
@import '../base/global';

 /* Design section Hero*/ 
 #Hero-game{
  background-image: url(../illustrations-game/Batgame_1.png);
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-color: $black;
  .titre{
      margin-top: 200px;
      margin-left: 50px;
      font-weight: bolder;
      font-size: 50px;
      font-family: "Rajdhani";
      text-transform: uppercase;
    }
    .flèche{
      display:block;
      margin: 0 auto;
      margin-top: 350px;
  }
 }

#Start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 200px;
    h1{
      text-transform: uppercase;
      margin-top: 90px;
      text-align: center;
    }
    img{
      width: 92%;
      height: 90%;
      margin-left: 37px;
      margin-top: 30px;
    }
    #next-button{
      text-decoration: none;
      color: $white;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 200;
      font-family: "Rajdhani";
      padding: 20px 60px;
      margin-top: 90px;
      width: 33%;
      margin-left: 310px;
      border: none;
      background: linear-gradient(130deg,#ffffff6d,#e17f2fe2);
    }  
  }
  
  #Game1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      text-transform: uppercase;
      margin-top: 90px;
      text-align: center;
    }
    .container{
      display: flex;
      justify-content: center;
      margin-top: 100px;
      margin-left: -110px;
      .quiz-content{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        #question{
          font-weight: 300;
          font-family: "Rajdhani";
          font-size: 22px;
          margin-bottom: 20px;
          color: $grey;
          }
        #choices{
          display: flex;
          background-color: $white-light;
          width: 500%;
          margin-top: 20px;
          font-size: 20px;
          font-weight: 400;
          padding-top: 18px;
          padding-bottom: 18px;
          padding-left: 5px;
          label{
            padding-left: 8px;
          }
          input{
            width: 90px;
          }
        }
      }
    }
      #next-button{
        text-decoration: none;
        color: $white;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 200;
        font-family: "Rajdhani";
        padding: 20px 75px;
        margin-top: 50px;
        width: 25%;
        margin-left: 500px;
        border: none;
        background: linear-gradient(130deg,#ffffff6d,#e17f2fe2);
      }
    }
  



























.left-border2{
  border: solid 1px #bcbbbd4b;
  height: 100%;
  position: fixed;
  right: 102px;
}
.right-border2{
  border: solid 1px #bcbbbd4b;
  height: 100%;
  position: fixed;
  left: 102px;
}


