@import '../base/color';
@import '../base/typo';
@import '../base/global';

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    .Jaune:hover{
        filter: invert(20%) sepia(100%) saturate(3196%) hue-rotate(356deg) brightness(107%) contrast(107%);
     }
    .Jaune{
        margin-left: 40px;
    }
    ul{
        display: flex;
        li{
            list-style-type: none;
            a{
                color: $white;
                font-family: "Rajdhani";
                font-size: 30px;
                font-weight: 100;
                margin-right: 40px;
                text-decoration: none;
                &:hover{
                    color: $yellow;
                 }
                &.active{
                    text-decoration: underline;
                    font-weight: bold;
                 }
               }
        }
    }
    .burger-menu{
        display: none;
    }

    .burger-menu img{
        width: 30px; 
        cursor: pointer;
    }
}


.overlay1 {
        height: 100%;
        width: 0;
        top: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.404);
        overflow-x: hidden;
        transition: width 0.5s;
        z-index: 1111; /* Assure que l'overlay est au-dessus de tout autre contenu */
}


@media screen and (max-width: 550px) {
    nav{
    ul{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    }

    .overlay-nav-links {
        display: block;
        width: 100%;
        margin: 100px;
        li{
            list-style-type: none;
            a{
                color: $white;
                font-family: "Rajdhani";
                font-size: 30px;
                font-weight: 100;
                margin-right: 40px;
                text-decoration: none;
                &:hover{
                    color: $yellow;
                 }
                &.active{
                    text-decoration: underline;
                    font-weight: bold;
                 }
               }
        } 
    }
}




 